# automatically created
.ipynb_checkpoints/

# automatically populated
mlflow/artifacts/data/
mlflow/data/*
!mlflow/data/.env

feast/data/

airflow/*
airflow/dags/__pycache__
!airflow/dags/
docker-compose.airflow.yaml
